.Cookies {
	display: flex;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background: rgb(27, 64, 238);
	background: linear-gradient(
		90deg,
		rgba(27, 64, 238, 1) 20%,
		rgba(41, 177, 255, 1) 100%
	);
	width: 1800px;
	height: 50px;
}
.Cookies-content {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	margin: 0 0 0 20px;
}
.Cookies img {
	width: 25px;
	margin: 0 20px 0 0;
	cursor: pointer;
}
.Cookies-content img {
	width: 30px;
	padding: 0 10px 0 0;
	margin: 0;
	cursor: default;
}
.Cookies-content p {
	font-size: 18px;
	font-family: 'Montserrat';
	font-weight: bold;
	color: white;
}
