.NotFound {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 1500px;
	height: 770px;
}
.NotFound-content {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
	flex-direction: column;
	background-color: white;
	padding: 15px 25px;
	border: 1px solid #bebebe;
	height: 250px;
}
.NotFound-content-error {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.NotFound-content #nf-error {
	font-family: 'Montserrat';
	font-size: 120px;
	font-weight: bold;
}
.NotFound-content #nf-text {
	font-family: 'Montserrat';
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
