.Blog {
	width: 1500px;
	height: 650px;
	word-break: break-all;
}
.Blog-content {
	margin: 20px 25px 25px 25px;
}
.Blog-content-title h2 {
	font-size: 30px;
	font-family: 'Montserrat';
	font-weight: bold;
}
.Blog-content-catalog {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 25px;
	grid-row-gap: 30px;
	margin: 15px 0;
	width: 1400px;
}
.Blog-content-catalog li {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 410px;
	height: 308px;
	border-radius: 10px;
	border: 1px solid #bebebe;
	transition: all 0.5s ease;
	margin: 0 auto;
}
.Blog-content-catalog a {
	max-width: 410px;
	max-height: 308px;
}
