.FEPPost-content {
	margin: 20px 25px 25px 25px;
}
.FEPPost-content-title {
	margin: 0 0 15px 0;
}
.FEPPost-content-title h2 {
	font-size: 35px;
	font-family: 'Montserrat';
	font-weight: bold;
}
.FEPPost-content-text p {
	font-family: 'Mulish';
	font-size: 18px;
}
.FEPPost-content-exercise {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.FEPPost-content-exercise li {
	margin: 0 0 20px 0;
}
