.Ad {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 300px;
	height: 905px;
}
.Ad-content {
  width: 150px;
  padding: 12px 10px;
  word-break: normal;
  border: 1px solid #bebebe;
  text-align: center;
}
.Ad-content p {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: bold;
}