body {
	background: url('https://img.freepik.com/free-vector/blue-bubble-patterned-background_53876-90685.jpg?w=996&t=st=1706808051~exp=1706808651~hmac=46a6abaca261a258b32f038b8fe937704483f3091254c31b8ce2169649f2632a');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
* {
	font-family: 'Mulish';
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.App {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 1800px;
	margin: 0 auto;
}
.App-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	max-height: 905px;
	max-width: 1800px;
}
.App-content-panel {
	max-width: 300px;
	height: 905px;
	border-right: 1px solid #bebebe;
}
.App-content-inner {
	width: 1500px;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 905px;
	word-break: normal;
}
.App-content-inner::-webkit-scrollbar {
	width: 5px;
}
.App-content-inner::-webkit-scrollbar-track {
	background: rgb(204, 204, 204);
}
.App-content-inner::-webkit-scrollbar-thumb {
	background-color: #4866eb;
}
